body{
    display: flex;
    flex-direction: column; 
    background: url(./../img/fondo_color.svg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family: 'Archivo Black', sans-serif;
    background-size: cover;
}
#menu-principal{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    background-color: #339989;
}
#titulo_empresa{
    color:#2B2C28;
}
#logo_itempro{
    padding: 1em;
}
#menu-principal a{
    text-decoration: none;
    display: block;
    padding: 2em;
    color: #2B2C28;
    align-items: stretch;
}
#menu-principal a:hover{
    background-color: #2B2C28;
    color: #339989;
}

/* ----------------------------------------------*/
/* Inicio */
#inicio{
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    text-align: center;
}
#titulo_inicio {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    color: #339989;
    text-align: center;
}
#p_inicio {
    font-size: 30px;
    color: #fff;
    padding: 0 100px;

    display: flex;
    background-size: cover;
}
#lista_novedades{
    color:white;
    text-align: center;
}


/* ----------------------------------------------*/
/* Novedades */
#background_novedades{
    background-color:#339989;
}
#titulo_novedades{
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    color: #2B2C28;
}
h3{
    color:#2B2C28;
}
h2{
    color:white;
}
p{
    color:white;
}
#boton_masinfo{
    background-color: #2B2C28;
    color: white;
    border-color: white;
}

/* ----------------------------------------------*/
/* Nosotros */
#titulo_nosotros {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    color: #339989;
}
#iconos_perfil{
    border-radius: 50%;
}
#nosotros{
    background-color: #2B2C28;
}

/* ----------------------------------------------*/
/* Agregar - Remover - Ver stock producto */
#agregar_producto{
    background-color: #339989;

}
#titulo_agprod{
    background-color: #2B2C28;
}
#extraer_producto{
    background-color: #339989;
}
#ver_stock{
    background-color: #339989;
}

#boton_confirmar{
    background-color: #2B2C28;
    color: white;
    border-color: white;
}
#boton_confirmar_users{
    background-color: #339989;
    color: #2B2C28;
    border-color: white;
}

/* ----------------------------------------------*/
/* Agregar - Eliminar - Gestionar usuarios */
#agregar_usuario{
    background-color: #2B2C28;
    color: #339989;
}
#eliminar_usuario{
    background-color: #2B2C28;
    color: #339989;
}
#titulo_aguser{
    background-color: #339989;
    color: #2B2C28;
}
#titulo_deluser{
    background-color: #339989;
    color: #2B2C28;
}
#titulo_gestUsuarios{
    background-color: #339989;
    color: #2B2C28;
}
#tabla_usuarios{
    color:white
}

/* ----------------------------------------------*/
/* Contacto */
#titulo_contacto {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 600;
    color: #2B2C28;
    text-align: left;
}
#p_contacto{
    color:#2B2C28;
}
#contacto{
    color: #2B2C28;
    background-color: #339989;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
    text-align: center;
}
